# SCRIPT OUTLINE

## -- IMPORTING LIBRARIES
## -- IMPORTING DATASETS - AMERICAS, ASIA AND THE PACIFIC, EUROPE, MIDDLE EAST / NORTH AFRICA, SUB-SAHARAN AFRICA
## -- MERGING DATAFRAMES
## -- CHECKING THE DATA
## -- EXPORTING AND IMPORTING THE DATA WITH NEW VARIABLES

---------------------------------------------------------------------------------------------------------------------

## IMPORTING LIBRARIES

In [5]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [6]:
## DEFINING A SHORT PROJECT FOLDER

path = r'/Volumes/GoogleDrive/My Drive/Career Foundry/2 Data Immersion/Achievement 6 - Advanced Analytics/Task 6.1/Datasets'

In [7]:
path

'/Volumes/GoogleDrive/My Drive/Career Foundry/2 Data Immersion/Achievement 6 - Advanced Analytics/Task 6.1/Datasets'

## AMERICAS

In [8]:
# IMPORTING ECONOMIC FREEDOM INDEXES DATASET

df_eco_americas = pd.read_csv(os.path.join(path, 'EcoFree_Americas_1995-2022.csv'))

In [9]:
df_eco_americas.head()

,Name,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Argentina,2022,50.1,35.1,45.1,57.9,73.3,53.0,16.8,55.1,51.0,37.9,60.6,55.0,60.0
1,Barbados,2022,71.3,72.6,68.7,88.2,80.6,70.8,79.7,64.7,63.4,78.6,58.4,70.0,60.0
2,Belize,2022,56.6,34.7,38.1,70.2,77.0,64.1,37.6,54.0,59.9,82.5,55.6,55.0,50.0
3,Bolivia,2022,43.0,14.1,28.7,28.4,86.0,58.8,10.9,54.7,46.2,72.8,60.8,15.0,40.0
4,Brazil,2022,53.3,50.3,40.0,57.2,69.9,53.8,0.4,63.2,55.9,78.4,60.0,60.0,50.0

In [10]:
df_eco_americas.shape

(896, 15)

In [11]:
df_eco_americas.rename(columns = {'Name' : 'Country'}, inplace = True)

In [12]:
df_eco_americas.head()

,Country,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Argentina,2022,50.1,35.1,45.1,57.9,73.3,53.0,16.8,55.1,51.0,37.9,60.6,55.0,60.0
1,Barbados,2022,71.3,72.6,68.7,88.2,80.6,70.8,79.7,64.7,63.4,78.6,58.4,70.0,60.0
2,Belize,2022,56.6,34.7,38.1,70.2,77.0,64.1,37.6,54.0,59.9,82.5,55.6,55.0,50.0
3,Bolivia,2022,43.0,14.1,28.7,28.4,86.0,58.8,10.9,54.7,46.2,72.8,60.8,15.0,40.0
4,Brazil,2022,53.3,50.3,40.0,57.2,69.9,53.8,0.4,63.2,55.9,78.4,60.0,60.0,50.0

## ASIA AND THE PACIFIC

In [13]:
# IMPORTING ECONOMIC FREEDOM INDEXES DATASET

df_eco_asia_pacific = pd.read_csv(os.path.join(path, 'EcoFree_Asia_Pacific_1995-2022.csv'))

In [14]:
df_eco_asia_pacific.head()

,Name,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Afghanistan,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia,2022,77.7,91.7,87.0,95.2,62.5,51.6,52.0,84.6,64.2,83.2,90.0,80.0,90.0
2,Bangladesh,2022,52.7,36.3,22.2,28.1,82.6,93.2,54.0,55.6,36.6,70.0,63.8,50.0,40.0
3,Bhutan,2022,59.3,67.2,73.5,60.9,82.4,71.6,72.4,62.9,57.2,72.7,40.8,20.0,30.0
4,Brunei Darussalam,2022,64.8,67.0,61.1,51.6,90.8,68.1,20.0,72.4,75.0,72.3,84.6,65.0,50.0

In [15]:
df_eco_asia_pacific.shape

(1153, 15)

In [16]:
df_eco_asia_pacific.rename(columns = {'Name' : 'Country'}, inplace = True)

In [17]:
df_eco_asia_pacific.head()

,Country,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Afghanistan,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia,2022,77.7,91.7,87.0,95.2,62.5,51.6,52.0,84.6,64.2,83.2,90.0,80.0,90.0
2,Bangladesh,2022,52.7,36.3,22.2,28.1,82.6,93.2,54.0,55.6,36.6,70.0,63.8,50.0,40.0
3,Bhutan,2022,59.3,67.2,73.5,60.9,82.4,71.6,72.4,62.9,57.2,72.7,40.8,20.0,30.0
4,Brunei Darussalam,2022,64.8,67.0,61.1,51.6,90.8,68.1,20.0,72.4,75.0,72.3,84.6,65.0,50.0

## EUROPE

In [18]:
# IMPORTING ECONOMIC FREEDOM INDEXES DATASET

df_eco_europe = pd.read_csv(os.path.join(path, 'EcoFree_Europe_1995-2022.csv'))

In [19]:
df_eco_europe.head()

,Name,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Albania,2022,66.6,55.5,35.6,49.8,89.1,72.1,70.6,70.7,51.1,82.0,82.6,70.0,70.0
1,Armenia,2022,65.3,50.4,50.8,33.1,86.9,78.9,75.5,64.9,47.2,77.5,73.6,75.0,70.0
2,Austria,2022,73.8,98.4,82.9,94.6,45.5,20.3,71.7,82.3,78.4,82.3,79.2,80.0,70.0
3,Azerbaijan,2022,61.6,53.6,28.6,15.9,87.7,62.7,99.1,64.6,55.9,74.5,66.6,70.0,60.0
4,Belarus,2022,53.0,34.5,43.7,15.5,93.3,56.7,95.3,54.5,46.8,70.2,75.6,30.0,20.0

In [20]:
df_eco_europe.shape

(1271, 15)

In [21]:
df_eco_europe.rename(columns = {'Name' : 'Country'}, inplace = True)

In [22]:
df_eco_europe.head()

,Country,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Albania,2022,66.6,55.5,35.6,49.8,89.1,72.1,70.6,70.7,51.1,82.0,82.6,70.0,70.0
1,Armenia,2022,65.3,50.4,50.8,33.1,86.9,78.9,75.5,64.9,47.2,77.5,73.6,75.0,70.0
2,Austria,2022,73.8,98.4,82.9,94.6,45.5,20.3,71.7,82.3,78.4,82.3,79.2,80.0,70.0
3,Azerbaijan,2022,61.6,53.6,28.6,15.9,87.7,62.7,99.1,64.6,55.9,74.5,66.6,70.0,60.0
4,Belarus,2022,53.0,34.5,43.7,15.5,93.3,56.7,95.3,54.5,46.8,70.2,75.6,30.0,20.0

## MIDDLE EAST / NORTH AFRICA

In [23]:
# IMPORTING ECONOMIC FREEDOM INDEXES DATASET

df_eco_north_africa = pd.read_csv(os.path.join(path, 'EcoFree_MiddleEast_NorthAfrica_1995-2022.csv'))

In [24]:
df_eco_north_africa.head()

,Name,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Algeria,2022,45.8,27.9,30.1,29.7,67.2,57.1,38.6,50.0,51.5,80.1,57.4,30.0,30.0
1,Bahrain,2022,62.0,65.9,41.6,27.4,99.9,65.5,0.0,60.2,54.9,81.1,83.0,85.0,80.0
2,Egypt,2022,49.1,39.0,28.7,22.1,87.1,75.7,3.7,54.1,32.9,70.9,60.2,65.0,50.0
3,Iran,2022,42.4,26.6,19.8,29.4,80.8,92.5,54.7,38.9,49.4,42.3,59.2,5.0,10.0
4,Iraq,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_eco_north_africa.shape

(504, 15)

In [26]:
df_eco_north_africa.rename(columns = {'Name' : 'Country'}, inplace = True)

In [27]:
df_eco_north_africa.head()

,Country,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Algeria,2022,45.8,27.9,30.1,29.7,67.2,57.1,38.6,50.0,51.5,80.1,57.4,30.0,30.0
1,Bahrain,2022,62.0,65.9,41.6,27.4,99.9,65.5,0.0,60.2,54.9,81.1,83.0,85.0,80.0
2,Egypt,2022,49.1,39.0,28.7,22.1,87.1,75.7,3.7,54.1,32.9,70.9,60.2,65.0,50.0
3,Iran,2022,42.4,26.6,19.8,29.4,80.8,92.5,54.7,38.9,49.4,42.3,59.2,5.0,10.0
4,Iraq,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## SUB-SAHARAN AFRICA

In [28]:
# IMPORTING ECONOMIC FREEDOM INDEXES DATASET

df_eco_saharan_africa = pd.read_csv(os.path.join(path, 'EcoFree_Sub-Saharan_Africa_1995-2022.csv'))

In [29]:
df_eco_saharan_africa.head()

,Name,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Angola,2022,52.6,39.8,20.6,25.3,86.6,86.4,80.0,37.6,53.9,61.2,70.0,30.0,40.0
1,Benin,2022,61.0,44.3,40.3,55.3,68.4,91.6,83.4,47.7,59.6,80.4,61.4,50.0,50.0
2,Botswana,2022,64.8,74.2,61.4,70.1,87.4,59.8,19.2,56.7,61.6,75.4,77.2,65.0,70.0
3,Burkina Faso,2022,58.3,47.0,41.4,36.3,81.8,82.3,66.1,41.9,61.6,75.6,61.0,65.0,40.0
4,Burundi,2022,39.4,18.8,12.2,7.1,77.1,76.4,10.3,27.5,41.5,70.3,51.0,50.0,30.0

In [30]:
df_eco_saharan_africa.shape

(1328, 15)

In [31]:
df_eco_saharan_africa.rename(columns = {'Name' : 'Country'}, inplace = True)

In [32]:
df_eco_saharan_africa.head()

,Country,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Angola,2022,52.6,39.8,20.6,25.3,86.6,86.4,80.0,37.6,53.9,61.2,70.0,30.0,40.0
1,Benin,2022,61.0,44.3,40.3,55.3,68.4,91.6,83.4,47.7,59.6,80.4,61.4,50.0,50.0
2,Botswana,2022,64.8,74.2,61.4,70.1,87.4,59.8,19.2,56.7,61.6,75.4,77.2,65.0,70.0
3,Burkina Faso,2022,58.3,47.0,41.4,36.3,81.8,82.3,66.1,41.9,61.6,75.6,61.0,65.0,40.0
4,Burundi,2022,39.4,18.8,12.2,7.1,77.1,76.4,10.3,27.5,41.5,70.3,51.0,50.0,30.0

## MERGING DATAFRAMES

In [33]:
896 + 1153 + 1271 + 504 + 1328

5152

In [34]:
frames = [df_eco_americas, df_eco_asia_pacific, df_eco_europe, df_eco_north_africa, df_eco_saharan_africa]

In [35]:
df_eco_all_countries = pd.concat(frames)

In [36]:
df_eco_all_countries

,Country,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,Argentina,2022,50.1,35.1,45.1,57.9,73.3,53.0,16.8,55.1,51.0,37.9,60.6,55.0,60.0
1,Barbados,2022,71.3,72.6,68.7,88.2,80.6,70.8,79.7,64.7,63.4,78.6,58.4,70.0,60.0
2,Belize,2022,56.6,34.7,38.1,70.2,77.0,64.1,37.6,54.0,59.9,82.5,55.6,55.0,50.0
3,Bolivia,2022,43.0,14.1,28.7,28.4,86.0,58.8,10.9,54.7,46.2,72.8,60.8,15.0,40.0
4,Brazil,2022,53.3,50.3,40.0,57.2,69.9,53.8,0.4,63.2,55.9,78.4,60.0,60.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,The Gambia,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1324,Togo,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1325,Uganda,1995,62.9,50.0,30.0,NaN,81.5,89.6,NaN,70.0,NaN,67.1,57.8,70.0,50.0
1326,Zambia,1995,55.1,50.0,30.0,NaN,72.4,74.8,NaN,55.0,NaN,12.2,61.2,70.0,70.0
1327,Zimbabwe,1995,48.5,50.0,30.0,NaN,50.1,65.3,NaN,55.0,NaN,54.7,51.8,30.0,50.0

In [37]:
df_eco_all_countries.describe()

,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
count,5152.000000,4618.000000,4655.000000,4671.000000,1099.000000,4634.000000,4650.000000,1092.000000,4667.000000,3173.000000,4656.000000,4641.000000,4656.000000,4634.000000
mean,2008.543284,59.627891,48.894651,41.144444,46.210828,73.485283,64.597269,66.768223,63.931412,60.241506,72.892955,69.419910,53.643686,49.715149
std,8.080626,11.711224,23.554082,22.354421,20.957640,15.327823,24.392674,31.065428,16.033107,15.966463,15.333376,15.740793,21.445657,19.857163
min,1995.000000,1.000000,0.000000,0.000000,3.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2002.000000,53.000000,30.000000,25.500000,30.000000,65.500000,51.000000,49.075000,55.000000,49.900000,69.800000,61.200000,40.000000,30.000000
50%,2009.000000,59.600000,50.000000,34.600000,43.600000,75.600000,70.650000,78.950000,64.800000,60.200000,76.300000,72.200000,50.000000,50.000000
75%,2016.000000,67.400000,70.000000,52.000000,60.000000,83.400000,84.100000,92.125000,73.300000,71.200000,81.300000,80.800000,70.000000,70.000000
max,2022.000000,90.500000,100.000000,100.000000,98.000000,100.000000,99.300000,100.000000,100.000000,100.000000,95.400000,95.000000,95.000000,90.000000

## COUNTING UNIQUE VALUES

In [38]:
## Counting of all unique values for countries

df_eco_all_countries['Country'].value_counts(dropna = False)

Ecuador              28
Angola               28
Malta                28
Mozambique           28
Armenia              28
                     ..
Hong Kong            26
Macau                26
Somalia              12
Kosovo               11
Brunei Darussalam     9
Name: Country, Length: 186, dtype: int64

## FINDING DUPLICATES

In [39]:
## Finding duplicates values

df_eco_all_countries_dups = df_eco_all_countries[df_eco_all_countries.duplicated()]

In [40]:
df_eco_all_countries_dups

Empty DataFrame
Columns: [Country, Index Year, Overall Score, Property Rights, Government Integrity, Judicial Effectiveness, Tax Burden, Government Spending, Fiscal Health, Business Freedom, Labor Freedom, Monetary Freedom, Trade Freedom, Investment Freedom, Financial Freedom]
Index: []

## EXPORTING COUNTRIES UNIQUE NAMES

In [41]:
# Exporting countries names to add unique identification

df_eco_all_countries.to_csv(os.path.join(path, 'df_eco_all_countries.csv'))

## IMPORTING ALL COUNTRIES WITH COUNTRY ID, LATITUDE AND LONGITUDE

In [42]:
# Importing countries with an unique identification, latitude, longitude generated via Google Sheets

df_eco_all_countries_ll = pd.read_csv(os.path.join(path, 'df_eco_all_countries_ll.csv'))

In [43]:
df_eco_all_countries_ll.head()

,All,Unique ID,Country,Latitude,Longitude,Index Year,Overall Score,Property Rights,Government Integrity,Judicial Effectiveness,Tax Burden,Government Spending,Fiscal Health,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom
0,0,1,Argentina,-38.416097,-63.616672,2022,50.1,35.1,45.1,57.9,73.3,53.0,16.8,55.1,51.0,37.9,60.6,55.0,60.0
1,1,2,Barbados,13.193887,-59.543198,2022,71.3,72.6,68.7,88.2,80.6,70.8,79.7,64.7,63.4,78.6,58.4,70.0,60.0
2,2,3,Belize,17.189877,-88.497650,2022,56.6,34.7,38.1,70.2,77.0,64.1,37.6,54.0,59.9,82.5,55.6,55.0,50.0
3,3,4,Bolivia,-16.290154,-63.588653,2022,43.0,14.1,28.7,28.4,86.0,58.8,10.9,54.7,46.2,72.8,60.8,15.0,40.0
4,4,5,Brazil,-14.235004,-51.925280,2022,53.3,50.3,40.0,57.2,69.9,53.8,0.4,63.2,55.9,78.4,60.0,60.0,50.0

In [44]:
df_eco_all_countries_ll.shape

(5152, 19)